.home-container {
  height: 100vh;
  background-image: linear-gradient(
    220deg,
    rgba(67, 255, 255, 0.507),
    rgb(86, 142, 226)
  );
  display: grid;
  align-items: center;
  justify-content: center;
  .add-todo-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50vw;
    height: 80%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    .head {
      font-size: 36px;
      font-weight: 700;
      color: rgb(10, 12, 14);
    }
    .add-todo {
      width: 100%;
      display: flex;
      gap: 10px;
      .label {
        color: rgb(255, 255, 255);
        font-weight: 500;
      }
      .add-button {
        background-color: #7a84ec;
      }
    }
    .list-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      overflow-y: auto;
      width: 100%;
      height: 100%;
      gap: 10px;
      .todo-element {
        width: 100%;
        color: black;
        font-weight: 500;
        text-align: start;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .input-field {
          width: 93%;
        }

        .todo-text {
          border-radius: 5px;
          padding: 10px;
          width: 88%;
          background-color: rgba(238, 238, 238, 0.507);
          display: flex;
          flex-direction: column;
          gap: 10px;

          .title {
            color: #333333;
            font-size: 24px;
          }

          .details {
            color: #505050;
            font-size: 20px;
          }

          .date {
            color: #505050;
            font-size: 20px;
          }
        }
        .delete-button {
          background-color: #ec7a7a;
          span {
            color: rgb(255, 255, 255);
          }
        }
        .edit-button {
          background-color: #7a84ec;
          span {
            color: rgb(255, 255, 255);
          }
        }
      }
    }
  }
}
